<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SoilEffects.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{708,636}</string>
                <key>spriteSourceSize</key>
                <string>{726,646}</string>
                <key>textureRect</key>
                <string>{{1,1},{708,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{225,28}</string>
                <key>spriteSourceSize</key>
                <string>{255,70}</string>
                <key>textureRect</key>
                <string>{{1,1524},{225,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{20,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,69}</string>
                <key>textureRect</key>
                <string>{{31,1524},{20,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{101,1191}</string>
                <key>spriteSourceSize</key>
                <string>{151,1221}</string>
                <key>textureRect</key>
                <string>{{1,1421},{101,1191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireEffects.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,13}</string>
                <key>spriteSize</key>
                <string>{708,620}</string>
                <key>spriteSourceSize</key>
                <string>{726,646}</string>
                <key>textureRect</key>
                <string>{{1273,628},{708,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metalEffects.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{708,634}</string>
                <key>spriteSourceSize</key>
                <string>{726,646}</string>
                <key>textureRect</key>
                <string>{{1,711},{708,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ring01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{416,415}</string>
                <key>spriteSourceSize</key>
                <string>{436,439}</string>
                <key>textureRect</key>
                <string>{{1273,1338},{416,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{512,511}</string>
                <key>spriteSourceSize</key>
                <string>{528,533}</string>
                <key>textureRect</key>
                <string>{{1353,1},{512,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterEffects.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{708,634}</string>
                <key>spriteSourceSize</key>
                <string>{726,646}</string>
                <key>textureRect</key>
                <string>{{637,711},{708,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>woodEffects.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,14}</string>
                <key>spriteSize</key>
                <string>{712,625}</string>
                <key>spriteSourceSize</key>
                <string>{720,653}</string>
                <key>textureRect</key>
                <string>{{639,1},{712,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>decoration.png</string>
            <key>size</key>
            <string>{1894,1754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89c7edc92b453d0563f46d039a0e6326:f1ffb06e63aecb8467bf2bcfcd73b0e0:f42e2db542be84254ac2fbd28b8d93f0$</string>
            <key>textureFileName</key>
            <string>decoration.png</string>
        </dict>
    </dict>
</plist>
