<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{69,86}</string>
                <key>spriteSourceSize</key>
                <string>{73,88}</string>
                <key>textureRect</key>
                <string>{{296,1},{69,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,1}</string>
                <key>spriteSize</key>
                <string>{70,96}</string>
                <key>spriteSourceSize</key>
                <string>{92,108}</string>
                <key>textureRect</key>
                <string>{{133,1},{70,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,92}</string>
                <key>textureRect</key>
                <string>{{205,1},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{55,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,108}</string>
                <key>textureRect</key>
                <string>{{76,1},{55,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{73,108}</string>
                <key>spriteSourceSize</key>
                <string>{103,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{366,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb2ae3310f5bc3d432ba6d0ed89bb813:cdac7c4d85e2fe2cf4266a6c3cf21099:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
