<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>four.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{238,242}</string>
                <key>textureRect</key>
                <string>{{1,72},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{207,208}</string>
                <key>spriteSourceSize</key>
                <string>{243,242}</string>
                <key>textureRect</key>
                <string>{{1,282},{207,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,94}</string>
                <key>spriteSourceSize</key>
                <string>{90,112}</string>
                <key>textureRect</key>
                <string>{{292,1},{70,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>selectTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{289,69}</string>
                <key>spriteSourceSize</key>
                <string>{317,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{289,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{207,208}</string>
                <key>spriteSourceSize</key>
                <string>{243,236}</string>
                <key>textureRect</key>
                <string>{{210,283},{207,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{240,242}</string>
                <key>textureRect</key>
                <string>{{211,73},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>select.png</string>
            <key>size</key>
            <string>{420,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91c210998e4d263e9f552fd9855737e6:49e35772251ebb7e6c697eb075228b4f:b6c3947440dba32003e62c715898cc16$</string>
            <key>textureFileName</key>
            <string>select.png</string>
        </dict>
    </dict>
</plist>
