<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipsReturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{215,75}</string>
                <key>spriteSourceSize</key>
                <string>{231,95}</string>
                <key>textureRect</key>
                <string>{{1283,1},{215,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{1359,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88753be1d3928c4127a10c9fff9c3ed6:4278bd3977324c06d30ea3f5403ce981:ea4aaab0bca5727fcea7912a6b6b86e7$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
