<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{1122,622}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1122,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-48}</string>
                <key>spriteSize</key>
                <string>{626,570}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1125,591},{626,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,-39}</string>
                <key>spriteSize</key>
                <string>{820,588}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1125,1},{820,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-89}</string>
                <key>spriteSize</key>
                <string>{758,488}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,625},{758,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{1946,1162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a584631cb534dd72f4d66f708c23923:cfdc127e79a1fca49a64c8bcf1b6d06a:6f6c407afce584d64ce65df7e3a7492e$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
