<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1242,680}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1242,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>instruction01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{1057,566}</string>
                <key>spriteSourceSize</key>
                <string>{1083,596}</string>
                <key>textureRect</key>
                <string>{{1,683},{1057,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>instruction02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{626,502}</string>
                <key>spriteSourceSize</key>
                <string>{642,530}</string>
                <key>textureRect</key>
                <string>{{1245,1},{626,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>instructionTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{286,69}</string>
                <key>spriteSourceSize</key>
                <string>{306,85}</string>
                <key>textureRect</key>
                <string>{{1648,629},{286,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{1648,1134},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{586,572}</string>
                <key>spriteSourceSize</key>
                <string>{598,590}</string>
                <key>textureRect</key>
                <string>{{1060,683},{586,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipsReturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{215,75}</string>
                <key>spriteSourceSize</key>
                <string>{231,95}</string>
                <key>textureRect</key>
                <string>{{1648,917},{215,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>instruction.png</string>
            <key>size</key>
            <string>{1748,1256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9f6a2b79cd89108c3af80045c303ddb:418a08dce1f71defc23f3d0db0019177:c0db332709908dadf7b69010e3c4586b$</string>
            <key>textureFileName</key>
            <string>instruction.png</string>
        </dict>
    </dict>
</plist>
