<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonHome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{197,198}</string>
                <key>spriteSourceSize</key>
                <string>{245,252}</string>
                <key>textureRect</key>
                <string>{{1,400},{197,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButtonPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{198,198}</string>
                <key>spriteSourceSize</key>
                <string>{256,252}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonReplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{198,197}</string>
                <key>spriteSourceSize</key>
                <string>{234,231}</string>
                <key>textureRect</key>
                <string>{{1,201},{198,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{125,118}</string>
                <key>spriteSourceSize</key>
                <string>{139,140}</string>
                <key>textureRect</key>
                <string>{{1,599},{125,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sceneMenu.png</string>
            <key>size</key>
            <string>{200,718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a96b311fa4d89343e8ab4bb0801f113:2a0878c653acce78c462af7e228ca70c:e73ebd0c8d593a2d94a8b68fbb6ff840$</string>
            <key>textureFileName</key>
            <string>sceneMenu.png</string>
        </dict>
    </dict>
</plist>
