<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Score01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{266,135}</string>
                <key>spriteSourceSize</key>
                <string>{288,161}</string>
                <key>textureRect</key>
                <string>{{339,1},{266,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Score02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{266,135}</string>
                <key>spriteSourceSize</key>
                <string>{286,161}</string>
                <key>textureRect</key>
                <string>{{607,1},{266,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Score03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{266,135}</string>
                <key>spriteSourceSize</key>
                <string>{294,161}</string>
                <key>textureRect</key>
                <string>{{339,1},{266,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Score04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1475,76},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Scoreboard01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,136}</string>
                <key>spriteSourceSize</key>
                <string>{288,154}</string>
                <key>textureRect</key>
                <string>{{875,1},{266,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Scoreboard02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{266,136}</string>
                <key>spriteSourceSize</key>
                <string>{286,154}</string>
                <key>textureRect</key>
                <string>{{1143,1},{266,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Scoreboard03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{266,136}</string>
                <key>spriteSourceSize</key>
                <string>{294,154}</string>
                <key>textureRect</key>
                <string>{{875,1},{266,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Scoreboard04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{1411,76},{61,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{97,87}</string>
                <key>textureRect</key>
                <string>{{1539,66},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{92,73}</string>
                <key>spriteSourceSize</key>
                <string>{106,99}</string>
                <key>textureRect</key>
                <string>{{1411,1},{92,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>re.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{100,87}</string>
                <key>textureRect</key>
                <string>{{1505,1},{72,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{336,108}</string>
                <key>spriteSourceSize</key>
                <string>{352,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>resultMenu.png</string>
            <key>size</key>
            <string>{1603,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12020e0e9d22724e2306d5c14414a3a2:5131a889931b864bc5955cfc3401eb86:63786e5192b93dcb68d1b8677a75f8a0$</string>
            <key>textureFileName</key>
            <string>resultMenu.png</string>
        </dict>
    </dict>
</plist>
